a {
    color:white;
    font-size: 40px;
    
}
a+a {
    margin-left: 100px;
}

a:link {
    text-decoration: none;
}

Button {
    font-size: 30px;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 10px;
}

